name: Deploy to Amazon Linux Ec2
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Login to Docker hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Build and push backend image 
      run: | 
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/loadbackend:latest ./backend
        



